<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TBDimensionMapper">

    <delete id="deleteAll">
        delete t from t_b_dimension t
        <where>
            <if test="moduleIds != null">
                and t.module_id in
                <foreach collection="moduleIds" item="moduleId" index="index" open="(" close=")" separator=",">
                    #{moduleId}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="findByModuleIdAndCourseCode" resultType="com.qmth.wuda.teaching.entity.TBDimension">
        select * from t_b_dimension tbd
        <where>
            <if test="mouduleId != null and mouduleId != ''">
                and tbd.module_id = #{mouduleId}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and tbd.course_code = #{courseCode}
            </if>
        </where>
        order by tbd.id
    </select>
</mapper>
