<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TBLevelMapper">

    <delete id="deleteAll">
        delete t from t_b_level t
        <where>
            <if test="moduleId != null and moduleId != ''">
                and t.module_id = #{moduleId}
            </if>
        </where>
    </delete>
</mapper>
