<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TBModuleMapper">

    <delete id="deleteAll">
        delete t from t_b_module t
    </delete>

    <select id="findBySchoolId" resultType="com.qmth.wuda.teaching.entity.TBModule">
        select * from t_b_module tbm
        <where>
            <if test="schoolId != null and schoolId != ''">
                and tbm.school_id = #{schoolId}
            </if>
        </where>
    </select>
</mapper>
