<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEAnswerMapper">

    <delete id="deleteAll">
        delete t from t_e_answer t
        <where>
            <if test="examRecordId != null and examRecordId != ''">
                and t.exam_record_id = #{examRecordId}
            </if>
        </where>
    </delete>

    <select id="findByExamRecordId" resultType="com.qmth.wuda.teaching.entity.TEAnswer">
        select * from t_e_answer tea
        <where>
            <if test="examRecordId != null and examRecordId != ''">
                and tea.exam_record_id = #{examRecordId}
            </if>
        </where>
    </select>

    <select id="calculateCollegeAvgScoreByDimension" resultType="java.math.BigDecimal">
        select
        sum(tea.score) as collegeSumScore
        from
        t_e_answer tea
        left join t_e_exam_record teer on
        teer.id = tea.exam_record_id
        left join t_e_exam tee on
        tee.id = teer.exam_id
        left join t_e_exam_student tees on
        tees.id = teer.exam_student_id
        and tees.exam_id = teer.exam_id
        left join t_e_paper tep on
        tep.id = teer.paper_id
        and tep.exam_id = teer.exam_id
        <where> 1 = 1
            <if test="examId != null and examId != ''">
                and tees.exam_id = #{examId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and tees.college_id = #{collegeId}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and tees.course_code = #{courseCode}
            </if>
            and exists(
            select
            distinct teps.id
            from
            t_e_paper_struct teps
            <where>
                and 1 = 1
                <if test="dimensions != null">
                    <foreach collection="dimensions" item="dimension" index="index">
                        <choose>
                            <when test="index == 0">
                                and (FIND_IN_SET(#{dimension}, ${moduleCode})
                            </when>
                            <otherwise>
                                or FIND_IN_SET(#{dimension}, ${moduleCode})
                            </otherwise>
                        </choose>
                    </foreach>
                    )
                </if>
                and tea.main_number = teps.main_number
                and tea.sub_number = teps.sub_number)
            </where>
        </where>
    </select>
</mapper>
