<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEAnswerMapper">

    <delete id="deleteAll">
        delete t from t_e_answer t
    </delete>

    <select id="findByExamRecordId" resultType="com.qmth.wuda.teaching.entity.TEAnswer">
        select * from t_e_answer tea
        <where>
            <if test="examRecordId != null and examRecordId != ''">
                and tea.exam_record_id = #{examRecordId}
            </if>
        </where>
    </select>

    <select id="calculateCollegeAvgScoreByDimension" resultType="java.math.BigDecimal">
        select
        sum(tea.score) as collegeSumScore
        from
        t_e_answer tea
        left join t_e_exam_record teer on
        teer.id = tea.exam_record_id
        left join t_e_exam tee on
        tee.id = teer.exam_id
        left join t_e_exam_student tees on
        tees.id = teer.exam_student_id
        and tees.exam_id = teer.exam_id
        left join t_e_paper tep on
        tep.id = teer.paper_id
        and tep.exam_id = teer.exam_id
        <where> 1 = 1
            <if test="schoolId != null and schoolId != ''">
                and tee.school_id = #{schoolId}
            </if>
            <if test="examId != null and examId != ''">
                and tees.exam_id = #{examId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and tees.college_id = #{collegeId}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and tees.course_code = #{courseCode}
            </if>
            and exists(
            select
            teq.id
            from
            t_e_question teq
            <where> 1 = 1
                <if test="dimension != null and dimension != ''">
                    and FIND_IN_SET(#{dimension}, teq.knowledge)
                </if>
                and tea.main_number = teq.main_number
                and tea.sub_number = teq.sub_number)
            </where>
        </where>
    </select>
</mapper>
