<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEAnswerMapper">

    <delete id="deleteAll">
        delete t from t_e_answer t
    </delete>

    <select id="findByExamRecordId" resultType="com.qmth.wuda.teaching.entity.TEAnswer">
        select * from t_e_answer tea
        <where>
            <if test="examRecordId != null and examRecordId != ''">
                and tea.exam_record_id = #{examRecordId}
            </if>
        </where>
    </select>
</mapper>
