<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TECourseMapper">

    <delete id="deleteAll">
        delete t from t_e_course t
        <where>
            <if test="schoolId != null and schoolId != ''">
                and t.school_id = #{schoolId}
            </if>
            <if test="courseCodes != null">
                and t.course_code in
                <foreach collection="courseCodes" item="courseCode" index="index" open="(" close=")" separator=",">
                    #{courseCode}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
