<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEExamRecordMapper">

    <delete id="deleteAll">
        delete t from t_e_exam_record t
    </delete>

    <sql id="scoreCommonMidden">
        from t_e_exam_record teer
        left join t_e_exam_student tees on
            tees.id = teer.exam_student_id
        left join t_e_exam tee on
            tee.id = teer.exam_id
    </sql>

    <sql id="scoreCommonFoot">
        <if test="schoolId != null and schoolId != ''">
            and tee.school_id = #{schoolId}
        </if>
        <if test="examId != null and examId != ''">
            and tees.exam_id = #{examId}
        </if>
        <if test="collegeId != null and collegeId != ''">
            and tees.college_id = #{collegeId}
        </if>
        <if test="courseCode != null and courseCode != ''">
            and tees.course_code = #{courseCode}
        </if>
    </sql>

    <select id="findByCollegeScore" resultType="com.qmth.wuda.teaching.bean.report.SynthesisBean">
        select
        max(teer.sum_score) as collegeMaxScore,
        min(teer.sum_score) as collegeMinScore,
        avg(teer.sum_score) as collegeAvgScore
        <include refid="scoreCommonMidden"/>
        <where>
            <include refid="scoreCommonFoot"/>
        </where>
    </select>

    <select id="findByClassScore" resultType="com.qmth.wuda.teaching.bean.report.SynthesisBean">
        select
        max(teer.sum_score) as clazzMaxScore,
        min(teer.sum_score) as clazzMinScore,
        avg(teer.sum_score) as clazzAvgScore
        <include refid="scoreCommonMidden"/>
        <where>
            <include refid="scoreCommonFoot"/>
            <if test="classNo != null and classNo != ''">
                and tees.class_no = #{classNo}
            </if>
        </where>
    </select>

    <select id="getLowScoreByMe" resultType="java.lang.Integer">
        select
        count(1)
        from
        t_e_exam_record t
        left join t_e_exam tee on
        tee.id = t.exam_id
        left join t_e_exam_student tees on
        tees.exam_id = tee.id
        and tees.college_id = tees.college_id
        and t.exam_student_id = tees.id
        <where>
            <include refid="scoreCommonFoot"/>
            and t.sum_score <![CDATA[ < ]]> (
            select
            teer.sum_score
            from
            t_e_exam_record teer
            left join t_e_exam tee on
            tee.id = teer.exam_id
            left join t_e_exam_student tees on
            tees.exam_id = tee.id
            and tees.college_id = tees.college_id
            and teer.exam_student_id = tees.id
            <where>
                <if test="examRecordId != null and examRecordId != ''">
                    and teer.id = #{examRecordId}
                </if>
            </where>
            )
        </where>
    </select>
</mapper>
