<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEExamRecordMapper">

    <delete id="deleteAll">
        delete t from t_e_exam_record t
        <where>
            <if test="examId != null and examId != ''">
                and t.exam_id = #{examId}
            </if>
            <if test="examStudentId != null and examStudentId != ''">
                and t.examStudent_id = #{examStudentId}
            </if>
            <if test="paperId != null and paperId != ''">
                and t.paper_id = #{paperId}
            </if>
        </where>
    </delete>

    <sql id="scoreCommonMidden">
        from t_e_exam_record teer
        left join t_e_exam_student tees on
            tees.id = teer.exam_student_id
        left join t_e_exam tee on
            tee.id = teer.exam_id
        left join t_e_paper tep on
            tep.exam_id = tees.exam_id
            and tep.code = tees.paper_code
            and tep.course_code = tees.course_code
    </sql>

    <sql id="scoreCommonFoot">
        <if test="examId != null and examId != ''">
            and tees.exam_id = #{examId}
        </if>
        <if test="courseCode != null and courseCode != ''">
            and tees.course_code = #{courseCode}
        </if>
        and tees.miss = 1
    </sql>

    <select id="findByCollegeScore" resultType="com.qmth.wuda.teaching.bean.report.SynthesisBean">
        select
            max(t.myScore) as collegeMaxScore,
            min(t.myScore) as collegeMinScore,
            avg(t.myScore) as collegeAvgScore,
            avg(t.sum_score) as schoolAvgScore
            from
            (
            select
            case
            when tep.contribution = 1 then
            case
            when tep.exam_id = 10
            or tep.exam_id = 40
            or tep.exam_id = 49 then ROUND(teer.sum_score + (tep.total_score - teer.sum_score) / tep.contribution_score)
            else tep.contribution_final_score
            end
            else teer.sum_score
            end as myScore,
            teer.sum_score
        <include refid="scoreCommonMidden"/>
        <where>
            <include refid="scoreCommonFoot"/>
            <if test="collegeId != null and collegeId != ''">
                and tees.college_id = #{collegeId}
            </if>
        </where>
        ) t
    </select>

    <select id="findByClassScore" resultType="com.qmth.wuda.teaching.bean.report.SynthesisBean">
        select
            max(t.myScore) as clazzMaxScore,
            min(t.myScore) as clazzMinScore,
            avg(t.myScore) as clazzAvgScore
            from
            (
            select
            case
            when tep.contribution = 1 then
            case
            when tep.exam_id = 10
            or tep.exam_id = 40
            or tep.exam_id = 49 then ROUND(teer.sum_score + (tep.total_score - teer.sum_score) / tep.contribution_score)
            else tep.contribution_final_score
            end
            else teer.sum_score
            end as myScore
        <include refid="scoreCommonMidden"/>
        <where>
            <include refid="scoreCommonFoot"/>
            <if test="classNo != null and classNo != ''">
                and tees.class_no = #{classNo}
            </if>
        </where>
        ) t
    </select>

    <select id="getLowScoreByMe" resultType="java.lang.Integer">
        select
        count(1)
        from
        t_e_exam_record t
        left join t_e_exam tee on
        tee.id = t.exam_id
        left join t_e_exam_student tees on
        tees.exam_id = tee.id
        and tees.college_id = tees.college_id
        and t.exam_student_id = tees.id
        left join t_e_paper tep on
        tep.exam_id = tees.exam_id
        and tep.code = tees.paper_code
        and tep.course_code = tees.course_code
        <where>
            <include refid="scoreCommonFoot"/>
            <if test="collegeId != null and collegeId != ''">
                and tees.college_id = #{collegeId}
            </if>
            and case
            when tep.contribution = 1 then
            case
            when tep.exam_id = 10
            or tep.exam_id = 40
            or tep.exam_id = 49 then ROUND(t.sum_score + (tep.total_score - t.sum_score) / tep.contribution_score)
            else tep.contribution_final_score
            end
            else t.sum_score
            end <![CDATA[ < ]]> (
            select
                case
                when tep.contribution = 1 then
                case
                when tep.exam_id = 10 or tep.exam_id = 40 or tep.exam_id = 49 then
                ROUND(teer.sum_score + (tep.total_score - teer.sum_score) / tep.contribution_score)
                else
                tep.contribution_final_score
                end
                else
                teer.sum_score
                end as sum_score
            from
            t_e_exam_record teer
            left join t_e_exam tee on
            tee.id = teer.exam_id
            left join t_e_exam_student tees on
            tees.exam_id = tee.id
            and tees.college_id = tees.college_id
            and teer.exam_student_id = tees.id
            left join t_e_paper tep on
                tep.exam_id = tees.exam_id
                and tep.code = tees.paper_code
                and tep.course_code = tees.course_code
            <where>
                <if test="examRecordId != null and examRecordId != ''">
                    and teer.id = #{examRecordId}
                </if>
            </where>
            )
        </where>
    </select>
</mapper>
