<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEExamMapper">

    <delete id="deleteAll">
        delete t from t_e_exam t
        <where>
            <if test="examId != null and examId != ''">
                and t.id = #{examId}
            </if>
            <if test="examCode != null and examCode != ''">
                and t.code = #{examCode}
            </if>
        </where>
    </delete>

    <select id="findByExamName" resultType="com.qmth.wuda.teaching.dto.ExamDto">
        select
        max(tee.code) as examCode,
        tee.name as examName
        from
        t_e_exam tee
        <where>
            <if test="examName != null and examName != ''">
                and tee.name = #{examName}
            </if>
        </where>
        group by tee.code,tee.name
    </select>
</mapper>
