<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEExamStudentMapper">

    <delete id="deleteAll">
        delete t from t_e_exam_student t
        <where>
            <if test="examId != null and examId != ''">
                and t.exam_id = #{examId}
            </if>
            <if test="studentCode != null and studentCode != ''">
                and t.student_code = #{studentCode}
            </if>
            <if test="examNumber != null and examNumber != ''">
                and t.exam_number = #{examNumber}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and t.course_code = #{courseCode}
            </if>
        </where>
    </delete>

    <select id="findById" resultType="com.qmth.wuda.teaching.dto.ExamStudentDto">
        select
        tees.name,
        tees.student_code as studentNo,
        tbsc.name as college,
        tees.class_no as clazz,
        tee.name as examName,
        tees.course_name as subject,
        tees.course_code as courseCode,
        from_unixtime(tee.create_time / 1000, '%Y年%m月%d日') as time,
        teer.objective_score as objectiveScore,
        teer.subjective_score as subjectiveScore,
        case
            when tep.contribution = 1 then
                case
                    when tep.exam_id = 10 or tep.exam_id = 40 or tep.exam_id = 49 then
                        ROUND(teer.sum_score + (tep.total_score - teer.sum_score) / tep.contribution_score)
                    else
                        tep.contribution_final_score
                end
            when tep.contribution = 2 then
                teer.contribution_score
            else
                teer.sum_score
        end as myScore,
        tees.college_id as collegeId,
        tee.id as examId,
        tep.total_score as fullScore,
        tep.pass_score as passScore,
        tep.contribution_score as contributionScore,
        tep.contribution,
        teer.id as examRecordId,
        tees.paper_code as paperCode
        from
        t_e_exam_record teer
        left join t_e_exam_student tees on
        tees.id = teer.exam_student_id
        left join t_e_exam tee on
        tee.id = teer.exam_id
        left join t_b_school_college tbsc on
        tbsc.id = tees.college_id
        left join t_e_paper tep on
        tep.exam_id = tees.exam_id and tep.code = tees.paper_code and tep.course_code = tees.course_code
        <where>1 = 1
            <if test="id != null and id != ''">
                and tees.id = #{id}
            </if>
            and tbsc.enable = 1
        </where>
    </select>

    <select id="findByActualCount" resultType="java.lang.Integer">
        select
        count(1)
        from
        t_e_exam_student tees
        left join t_e_exam tee on tee.id = tees.exam_id
        <where>
            <if test="examId != null and examId != ''">
                and tees.exam_id = #{examId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and tees.college_id = #{collegeId}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and tees.course_code = #{courseCode}
            </if>
            <if test="miss != null and miss != '' or miss == 0">
                and tees.miss = #{miss}
            </if>
        </where>
    </select>

    <select id="findByStudentId" resultType="com.qmth.wuda.teaching.dto.ExamCourseDto">
        select
        DISTINCT tees.course_name as courseName,
        tees.course_code as courseCode,
        tees.miss,
        tees.id as examStudentId,
        tees.exam_id as examId
        from
        t_e_exam_student tees
        <where>1 = 1
            <if test="studentId != null and studentId != ''">
                and tees.student_id = #{studentId}
            </if>
            and tees.enable = 1
        </where>
    </select>
</mapper>
