<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEPaperStructMapper">

    <delete id="deleteAll">
        delete t from t_e_paper_struct t
        <where>
            <if test="paperId != null and paperId != ''">
                and t.paper_id = #{paperId}
            </if>
        </where>
    </delete>

    <select id="findByPaperId" resultType="com.qmth.wuda.teaching.entity.TEPaperStruct">
        select * from t_e_paper_struct teq
        <where>
            <if test="paperId != null and paperId != ''">
                and teq.paper_id = #{paperId}
            </if>
        </where>
    </select>

    <select id="paperStructSumScoreByDimension" resultType="java.math.BigDecimal">
        select
                sum(teps.score) as paperStructSumScore
            from
                t_e_paper_struct teps
        <where>
            and 1 = 1
            <if test="dimensions != null">
                <foreach collection="dimensions" item="dimension" index="index">
                    <choose>
                        <when test="index == 0">
                            and (FIND_IN_SET(#{dimension}, ${moduleCode})
                        </when>
                        <otherwise>
                            or FIND_IN_SET(#{dimension}, ${moduleCode})
                        </otherwise>
                    </choose>
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>
