<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEPaperMapper">

    <delete id="deleteAll">
        delete t from t_e_paper t
        <where>
            <if test="examId != null and examId != ''">
                and t.exam_id = #{examId}
            </if>
            <if test="code != null and code != ''">
                and t.code = #{code}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and t.course_code = #{courseCode}
            </if>
        </where>
    </delete>

    <select id="findByExamIdAndCodeAndCourseCode" resultType="com.qmth.wuda.teaching.entity.TEPaper">
        select * from t_e_paper tep
        <where>
            <if test="examId != null and examId != ''">
                and tep.exam_id = #{examId}
            </if>
            <if test="code != null and code != ''">
                and tep.code = #{code}
            </if>
            <if test="courseCode != null and courseCode != ''">
                and tep.course_code = #{courseCode}
            </if>
        </where>
    </select>
</mapper>
