<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmth.wuda.teaching.dao.TEStudentMapper">

    <delete id="deleteAll">
        delete t from t_e_student t
        <where>
            <if test="schoolId != null and schoolId != ''">
                and t.school_id = #{schoolId}
            </if>
            <if test="studentCodes != null">
                and t.student_code in
                <foreach collection="studentCodes" item="studentCode" index="index" open="(" close=")" separator=",">
                    #{studentCode}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
